html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    background-color: white;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 10;
}

.logoo {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: auto;
}

.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 180px);
    padding-top: 180px;
    gap: 10px;
}

.left-container {
    flex: 7;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.right-container {
    flex: 3;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden-images,
.foreground {
    position: absolute;
    inset: 0;
    display: block;
}


.hidden-image,
.foreground img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(0%, -13%);
}

.foreground img {
    z-index: 999;
}

.hidden-image {
    display: none;
}

.textbox-container {
    gap: 10px;
    margin-top: 10px;
    max-width: 300px;
}

#image-name::placeholder {
    font-style: italic;
}

input[type="text"] {
    border: 1px solid #000;
    border-radius: 40px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    border-radius: 40px;
    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #000;
}

.floating-box-container {
    gap: 10px;
}

.floating-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
    background-color: #cfcfcf;
    width: 200px;
    white-space: nowrap;
    height: 15px;
    font-size: 12px;
    color: rgb(86, 86, 86);
}

.floating-box .close-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 12px;
    color: rgb(86, 86, 86);
}

.question-mark-container {
    position: relative;
    margin-bottom: 50px;
}

.question-mark {
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.text-box {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 300px;
}

.text {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}


@media (max-width: 1024px) {
    .page {
        flex-direction: column;
        height: 100vh;
        padding-top: 220px;

    }

    .left-container {
        flex: none;
        width: 100%;
        height: 50vh;
        position: relative;
        overflow: visible;
    }

    .right-container {
        flex: none;
        width: 100%;
        height: 50vh;
        overflow-y: auto;
        border-radius: border-box;

    }

    .floating-box-container {
        flex-grow: 1;
        max-height: 100%;
        /* Ensures it can scroll */
        overflow-y: auto;
        /* Enables scrolling inside */
    }
}

@media (max-width:1024px) {

    .hidden-image,
    .foreground img {
        position: absolute;
        inset: 0;
        width: 140%;
        height: 140%;
        object-fit: contain;
        transform: translate(-13%, -20%);
    }
}
